


.body .pictureofme {
    margin:auto;
    max-width:100%;
    max-height:100%;
    width: 25vmin;
}
.body .description {
    font-size: large;
    text-align: left;
    padding-bottom: 40px;
    padding-right: 10vw;
}

.contactinfo {
    /*background-color: rgb(42,42,46);*/
    color:rgb(249, 241, 231);
    font-size: large;  
    text-align: center;
    margin-bottom: 5vh;
}

@media only screen and (orientation:portrait) {
    .body .description {
        padding-right: 10vw;
        padding-left: 10vw;
        padding-top:40px;
        text-align: center;
        font-size: small;
    }  
    .body .pictureofme {
        width: 70vmin;
        text-align: center;
        margin:auto;
        margin-top: 2vh;
        max-height: 25vh;
        max-width:25vh;
    }
    .cvimage {
        width:90%;
    }
}
@media only screen and (orientation:landscape) {
    .body .pictureofme {
        text-align: center;
        margin:auto;
    }
    .cvimage {
        width:50vw;
    }
}