/* --- Font setup --- */

@font-face {
    font-family: "Amatic";
    src: url("../font/AmaticSC-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "AmaticBold";
    src: url("../font/AmaticSC-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "RobotoMono";
    src: url("../font/RobotoMono/RobotoMono-VariableFont_wght.ttf") format("truetype");   
}

@font-face {
    font-family: "RobotoMonoItalic";
    src: url("../font/RobotoMono/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");   
}

h1, h2, h3, h4, h5, h6 {
    font-family: "AmaticBold";
}