@import url(./font.css);

/* --- General layout --- */

/* Overall */
.base {
    background-image: url(../img/site-bg.png);
    background-repeat: repeat;
    font-family: "Amatic";
    color:rgb(249, 241, 231);
}

/* Navbar */
.navbar {
    /*background-color: rgb(55, 47, 41);*/
    background: none;
    align-items: center;
    position: sticky;
    top:0px;
    font-family: "AmaticBold";
    padding: 8px 8px 8px 8px;
}

.navbar .navbutton {
    display:inline-block;
    vertical-align: middle;
    font-size:4vmin;
    margin: 4px 8px 2vmin 2vmin;
    transition: 0.2s;
}

.navbar .navlogo {
    display:inline-block;
    height:5vmin;
    width:5vmin;
    transition: 0.2s;
    margin: 4px 8px 2vmin 2vmin;
}

/* Body */
body {
    margin: 0;
}
::-webkit-scrollbar {
    width: 8px;             
    transition: 0.4s;     
}
  
::-webkit-scrollbar-track {
    background: transparent;       
    transition: 0.4s;     
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0, 0);    
    border-radius: 10px;
    transition: 0.4s;     
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(97, 97, 97);    
    transition: 0.4s;     
}

.body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: calc(100vh - 7vmin - 16px - 4px - 44px - 32px);
    padding-top:2vmin;
    flex: 1 0 auto;
}

.body .textbox {
    border:none;
    border-radius:32px;
    background-image: url(../img/papyrus-tex.png);
    background-repeat: repeat;
    background-size:cover;
    padding:4vh 6vw 8vh 6vw;
    color:rgb(55, 47, 41);
    overflow:hidden;
    max-width: 2480px;
}
.body .textbox .text {
    margin: 0 10vmin;
}

.body .textbox .textbreaker {
    /*margin: auto;*/
    height:15vmin;
}

@media only screen and (orientation:portrait) {
    .body .textbox {
        margin-right: 2vw;
        margin-left: 2vw;
        margin-top:40px;
        text-align: center;
        font-size: small;
    } 
    
    .footer .cpyright {
        font-size: medium;
    }
}
@media only screen and (orientation:landscape) {
    .body .textbox {
        width: 50vw;
        text-align: center;
        margin:auto;
    }
}

/* Footer */
.footer {
    color:rgb(249, 241, 231);
    font-family: "Amatic";
    vertical-align: middle;
    padding: 16px 16px 16px 16px;
    min-height: 32px;
    margin-bottom: auto;
    flex-shrink: 0;
}
.footer .cpyright {
    font-size: 1em;
    margin-top: 4px;
}

/* --- Alignment --- */

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.row {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    flex: 1;
}
.padlr {
    padding-left: 40px;
    padding-right: 40px;
}
.left {
    text-align: left;
    justify-content: left;
}
.center {
    text-align: center;
    justify-content: center;
}
.right {
    text-align: right;
    justify-content: right;
}

/* --- File Display --- */

.pdf {
    min-height: calc(100vh - 60px - 120px);
}

/* --- Links --- */
.hflink {
    color: rgb(249, 241, 231);
    transition: 0.2s;
    z-index: 1000;
}
.hflink:hover {
    color: rgb(255, 104, 0);
}

.link {
    color: rgb(255, 104, 0);
    transition: 0.2s;
}
.link:hover {
    color: rgb(255, 153, 0);
}
.link:active {
    color: rgb(151, 60, 0);
}